<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416892898674-h6bjlbve8s5tkdtta87es75snbif6t8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416892898674-h6bjlbve8s5tkdtta87es75snbif6t8m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416892898674-6jsikgm56ipbnlu7incnqnuvoll7d3uh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDr79lHLYap-J8jnLm6vS_cnJ7m4lG991I</string>
	<key>GCM_SENDER_ID</key>
	<string>416892898674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kidneyscan</string>
	<key>PROJECT_ID</key>
	<string>kidney-scan</string>
	<key>STORAGE_BUCKET</key>
	<string>kidney-scan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416892898674:ios:da12635aa650301d7661eb</string>
</dict>
</plist>